################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GTM Analysis/.vs/GTM Analysis/v15
